<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add song - Music Streamer</title>
    {% load static %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    body {
        background: linear-gradient(to bottom right, #1e90ff, #ff6b6b);
        height: 100vh;
        
    }

    .container {
      border-radius: 10px;
      padding: 20px;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center mb-4">Add Song</h1>
          <strong style="color:red;">{{op}}</strong>
        <br /><br />
        <form method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="form-group">
            <label for="artists">Artists</label>
            <input type="text" class="form-control" id="artists" name="artists" required>
          </div>
          <div class="form-group">
            <label for="duration_s">Duration in seconds</label>
            <input type="number" class="form-control" id="duration_s" name="duration_s" required>
          </div>
          <div class="form-group">
            <label for="artistid">Artist id</label>
            <input type="number" class="form-control" id="artistid" name="artistid" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" name="add">Add song</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
